* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55DFB4;
    --color-black: #000;
    --color-gray: #a5a5a5;
    --color-light-gray: #f5f5f5;
    --color-white: #fff;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-raleway: 'Raleway', sans-serif;
}

                                                                                /* Header Styles */
.header-background {
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px 20px;
}

.logo {
    font-family: var(--font-raleway);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
}

.header-nav ul {
    display: flex;
    gap: 50px;
}

.header-nav li {
    list-style: none;
    font-family: var(--font-open-sans);
    text-transform: uppercase;
    font-size: 11px;
}

.header-nav a {
    text-decoration: none;
    color: var(--color-gray);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.28px;
    position: relative;
}

.header-nav a:hover {
    color: var(--color-black);
}

.header-nav a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -4px;
    height: 4px;
    background-color: var(--color-primary);
    bottom: -18px;
}

                                                                                /* Intro Section */
.intro-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
}

.intro-title {
    font-family: var(--font-raleway);
    font-size: 49px;
    font-weight: normal;
    
}

.intro-text {
    margin: 20px 0 38px;
    font-family: var(--font-raleway);
}

.intro-button {
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s;
    width: 440px;
}

.intro-button:hover {
    background-color: #007bb5;
}

                                                                                        /* Counters Section */
.counters-background {
    box-shadow: var(--color-primary-shadow);
    background-color: var(--color-white);
    text-align: center;
    padding: 40px 20px;
}

.counters {
    color: var(--color-black);
    font-family: var(--font-raleway);
    font-size: 36px;
    margin-top: -65px;
    margin-bottom: 50px;
    
}

.counters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.counter-each {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.counter-circle {
    width: 63px;
    height: 63px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first {
    background-color: var(--color-redish);
}

.second {
    background-color: var(--color-primary);
}

.third {
    background-color: var(--color-green);
}

.counter-number {
    font-size: 20px;
    font-family: var(--font-raleway);
    font-weight: 800;
}

.counter-text {
    font-size: 14px;
    color: var(--color-gray);
    font-family: var(--font-open-sans);
}

                                                                            /* Benefits Section */
.benefits-background {
    background-color: var(--color-light-gray);
    padding: 40px 20px;
}

.benefits-cards {
    max-width: 1124px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.benefits-card1,
.benefits-card2,
.benefits-card3 {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    background-color: var(--color-white);
    gap: 20px;
}

.benefits-card3 {
    flex-direction: column;
    flex: 1;
}

.benefits-doublecard {
    display: flex;
    gap: 20px;
}

.benefits-image {
    background-color: var(--color-green);
    background-position: center;
    background-size: cover;
}

.benefits-title {
    font-family: var(--font-raleway);
    font-size: 24px;
    font-weight: 300;
    color: var(--color-black);
    margin-bottom: 10px;
}

.benefits-text {
    font-family: var(--font-open-sans);
    font-size: 14px;
    color: var(--color-black);
}