* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, 0.16);
    --color-redish: #fb3b64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-gray: #a5a5a5;
    --color-light-gray: #f5f5f5;
    --color-white: #ffffff;
    --font-open-sans: 'Open Sans', sans-serif;
    --font-ralevay: 'Raleway', sans-serif;
}

                                                        /* HEADER */

.header-background {
    width: 100vw;
    box-shadow: 0px 3px 6px #00000029;
}

.header-container {
    width: 1352px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    font-family: var(--font-ralevay);
    font-size: 32px;
    font-weight: 300;
    color: var(--color-primary);
}

.header-nav ul {
    display: flex;
    align-items: center;
    gap: 70px;
    
}

.header-nav ul li {
    list-style: none;
    margin-right: 20px;
    font-family: var(--font-open-sans);
    text-transform: uppercase;
    font-size: 11px;
    
}

.header-nav ul li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 3.28px;
    color: #A5A5A5;
    position: relative;
}

.header-nav ul li a:hover {
    color: var(--color-black);
}

.header-nav ul li a:hover::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -25px;
    height: 4px;
    background-color: var(--color-primary);
}

                                                        /* INTRO */

.intro-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    
}

.intro-container {
    margin-top: 130px;
    text-align: center;
    
}

.intro-image {
    
    background-position: bottom;
    background-size: cover; 
    min-height: 400px;
    width: 100%;
    
}

.intro-title {
    font-family: var(--font-ralevay);
    font-size: 49px;
    font-weight: normal;
}

.intro-text {
    margin-top: 20px;
    margin-bottom: 38px;
    font-family: var(--font-ralevay);
}

.intro-button {
    display: inline-block;
    font-family: var(--font-open-sans);
    font-size: 16px;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    padding: 15px 30px;
    margin-top: 45px;
    cursor: pointer;
    width: 440px;
    border-radius: 40px;
}

                                                            /* COUNTER SECTION */

.counters-background {
    box-shadow: var(--color-primary-shadow);
    background-color: var(--color-white);
    align-items: flex-start;
    /* box-shadow: 0px -5px 80px #00000029; why is my picture not cutted as in adobeXD, cannot find correct way */
}

.counters {
    margin-bottoM: 40px;
    color: var(--color-black);
    font-family: var(--font-ralevay);
    text-align: center;
    font-size: 36px;
}
      
.counters-container {
    display: flex;
    width: 750px;
    height: 316px;
    margin: 0 auto;
    justify-content: space-between;
}   
      

.counter-each {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    text-align: center;
}

.counter-image {
    position: absolute;
}

.counter-circle {
    position: relative;
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.first {
    background-color: var(--color-redish);
}

.second {
    background-color: var(--color-primary);
}

.third {
    background-color: var(--color-green);
}

.counter-number {
    font-size: 20px;
    font-family: var(--font-ralevay);
    font-weight: 800;
}

.counter-text {
    font-size: 17px;
    color: var(--color-gray);
    font-family: var(--font-open-sans);
    font-weight: 400;
}

                                                            /* BENEFITS */

.benefits-background {
    background-color: var(--color-light-gray);
    padding: 60px 0;
}

.benefits-cards {
    width: 1124px;
    margin: 0 auto;
}

.benefits-card1,
.benefits-card2,
.benefits-card3,
.benefits-image {
    display: flex;
    height: 370px;
    background-color: var(--color-white);
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    margin-top: 40px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.benefits-card1,
.benefits-card2 {
    display: flex;
    justify-content: space-between ;
}

.benefits-doublecard {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.benefits-image {
    background-color: var(--color-green);
    background-position: center;
    background-size: cover;
}